nav {
    background-color: #CFD8DC;
    color: white;
    padding: 10px;
    font-family: Arial;
    text-align: center;
    list-style: none;
    margin: 0 2px;
    display: flex;
    justify-content: space-around;
}



p {
    background-color: #CFD8DC;
    text-align: center;
}

p.foot {
        background-color: #CFD8DC;
        text-align: center;
        bottom:0;
        width: 100%;
        position:absolute;
        padding: 10px;
}

a{
    color: darkblue;
}

